.bookDetailContainer {
    width: 100%;
    /* outline: 1px solid; */
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

.bookInfo{
    display: flex;
    padding: 100px;
}
.bookDesc{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    width: 40%;
}
.bookPic{
    display: flex;
    flex-direction: column;
    width: 172px;
    height: 237px;
    align-items: center;
}
.link{
    margin-top: 20px;
}
.bookTitle{
    padding: 12px 16px;
    font-weight: 700;
    font-size: 20px;
}
.bookStatus{
    width: 40%;
    display: flex;
    border-left: 1px solid #ccc;
    max-height: 200px;
}
.num{
    text-align: center;
    color: rgb(24, 144, 255);
}
.bookComment{
    padding: 50px;
}